#deco {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: #232323;
    color: white;
    text-align: center;
    left: 40%;
    top: 40%;
}

#deco a {
    color: white;
}

#newsThemeLangue {
    display: flex;
    width: 50%;
    margin: 20px auto 50px auto;
}

#newsThemeLangue p {
    margin: auto;
    font-size: 1.1em;
    cursor: pointer;
}

#newsThemeLangue #news {
    text-decoration: underline;
}

#postArticle {
    text-align: center;
}

#postTheme {
    text-align: center;
}

#postLangue {
    text-align: center;
}


#center {
    text-align: center;
}

@media all and (max-width: 1080px) {
    #deco {
        width: 40%;
        height: 40%;
        left: 30%;
        top: 30%;
    }
}