#or p {
    padding-left: 10%;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 2%;
}

.article {
    width: 30%;
    margin: 1rem auto;
    background-color: var(--themed-light);
    word-break: break-word;
}

.article>div {
    padding: 2rem;
}

.article>a {
    display: block;
    padding: 1rem 1rem;
    color: var(--themed-white);
}

.article>a>h3 {
    margin: 0;
    font-size: 1.5rem;
}